* {
    --light-blue: hsl(237, 29%, 87%);
    --white: hsl(0, 0, 100%);
}
body {
    margin: 0;
    background: var(--light-blue);
}
.text-editor__textarea {
    box-sizing: border-box;
    --margin: 5px;
    /* margin: var(--margin); */
    width: calc(100% - 2*var(--margin));
    height: calc(80vh - 2*var(--margin));
    padding: 8px;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: calc(2rem);
    left: calc(var(--margin));
}
:not(textarea:first-of-type).text-editor__textarea {
    display: none;
}
.tab__title {
    display: inline;
    margin: 0 2px;
    padding: 4px;
    border-radius: 10px 10px 0 0;
}
p:first-of-type.tab__title {
    background: white;
}